@media (max-width: 615px) {
  gcm-navigation {
    position: fixed;
    bottom: 0;
    background-color: palegoldenrod;
    height: 80px;
    width: 100%;
    z-index: 2;
  }
  .navigation {
    display: flex;
    justify-content: center;
    gap: 16px;
    //z-index: 1;
  }
}

@media (min-width: 615px) {
  .navigation {
    height: 100dvh;
    display: grid;
    border-radius: 16px;
    top: 0px;
  }
}
