.main-wrapper {
  display: grid;
  grid-template-columns: var(--nav-width) 1fr;
  position: relative;

  &--center {
    display: flex;
    justify-content: center;
  }
}

.signOutButton {
  --_opacity: 0;
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  top: 12px;
  right: 12px;
  color: var(--md-sys-color-primary);
  isolation: isolate;

}
