@use "../../../scss/mixins/typography";


.book {


  &__info {
    flex-grow: 1;

    &__name {
      color: var(--md-sys-color-on-surface);
      @include typography.body-large;
    }

    &__author {
      color: var(--md-sys-color-on-surface-variant);
      @include typography.body-medium;
    }
  }

  &__wrapper {

    display: grid;
    grid-template-columns: max-content 24px;
  }

  &__favoriteButton {
    z-index: 1 !important;
    color: var(--md-sys-color-on-surface-variant);

    &:hover {
    }
  }
}

.book-list__button {
  position: absolute;
  right: 40px;
  bottom: 40px;
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);

  &:hover {
    --_add-button-rotate: 90deg;
  }

  &__add {
    transition: rotate ease-out .4s;
    rotate: var(--_add-button-rotate, 0);

  }
}
