<div class="menu__headline">{{ title }}</div>
<mat-nav-list>
  <!--  @for (link of navLinks; track link) {-->
  <!--    <a class="" mat-list-item [activated]="link.id === activeLinkId" (click)="activeLinkId = link.id">{{ link.label }}</a>-->
  <!--  }-->
  <ng-container *ngFor="let link of navLinks">
    <!--    баг при focus-->
    <!--    mat-list-item-->
    <!--    [activated]="(activatedLinkId$ | async ) === link.id "-->
    <!--    ariaCurrentWhenActive="page"-->
    <div class="router-wrapper" routerLink="{{link.link}}"
         routerLinkActive="active" ariaCurrentWhenActive="page"
         disableRipple>
      <a class="menu__item" mat-list-item [activated]="(activatedLinkId$ | async ) === link.id"
         (click)="setActiveLinkId(link.id)">


        <div class="material-symbols-outlined menu__item__icon">
          {{ link.icon }}
        </div>
        <a class="menu__item__link">{{ link.label }}</a>
        <div class="menu__item__count" *ngIf="link.count && (showBooksCount$ | async)">{{ booksCount$ | async }}</div>
        <!--        <div class="menu__item__count">rr{{booksCount$ | async }}rr</div>-->
      </a>
    </div>


  </ng-container>
</mat-nav-list>




