@use "../../../scss/mixins/typography";

.menu {

  &__headline {
    color: var(--md-sys-color-on-surface-variant);
    padding: 18px 16px;
    @include typography.title-small;
    grid-column: span var(--span-grid);
  }

  &__item {
    position: relative;
    isolation: isolate;
    @include typography.label-large;

    &__link {
      color: var(--md-sys-color-on-secondary-container) !important;
      padding: 18px 12px;
    }

    &__icon {
      text-align: center;
      width: 100%;
      z-index: 1;
      //width: 24px;
      //height: 24px;
    }
  }
}

